body{
	//background-color:#e15e3478;
	background-image: linear-gradient(45deg, #ff7e5f, #feb47b);
	padding:0% 5%;
	font-family: Arial;
}
.navigation-menu{
	background-color:#0087ae;
	height:10vh;
}
.content-area{
	height:88vh;
	background-color:#f8db9a;
	background-image: url("assets/bubbles.gif");
	background-color: rgba(255, 255, 255, 0.2);
}

.services{
	height:80vh;
	background-color:#3fc4e4;
}
.footer{
	height:10vh;
	background-color:#0087ae;
}
.comp-logo{
	height:100%;
	width:30%;
	float:left;
}
.links{
	width:100%;
	height:100%;
	text-align:right;
	padding-top:30px;
	color:white;
	
}
.main-logo{
	width:25%;
	float:left;
	height:100%;
}
.business-name{
	width:70%;
	color:white;
}
.site-logo{
	margin-left:5%;	
}
a{
	color:white;
	text-decoration:none;
	font-weight:bolder;
	margin-right:3%;
}
.main-picture{
	width:40%;
	padding-top:10%;
	float:left;
}
.business-description{
	width:100%;
	padding-top:5%;
	padding-left:5%;
}
.service-section{
	padding:2%;
	height:100%;
	float:left;
	width:29%;
	margin:auto;
}
.services{
	margin:auto;
	padding:3%;
}
.card{
	background-color:white;
	height:90%;
	margin:auto;
}
.card:hover{
	background-color:#42ed6396;
	color:white;
}
.services-icon{
	margin:auto;
	margin:20%;
	border-radius:50%;
	width:60%;
}
.title{
	text-align:center;
	font-size:80px;
	margin-top:-10%;
}
.read-more{
	height:40px;
	width:30%;
	background-color:blue;
	color:white;
	border:none;
}
.read-more:hover{
	background-color:green;
}
.footer {
	//padding:10px;
	//padding-left:50px;
	height:20vh;
}
.footer-section-1{
	height:100%;
	width:50%;
	float:left;
	padding-left:4%;
}
.icons{
	margin-top:3%;
	width:5%;
	margin-left:2%;
}
.icons:hover{
	width:30px;
}
.footer-section-2{
	color:white;
}